<nav class="navbar">
    <li>
      <div class="logo">
        <a href="/movies">MOVIES</a>
       </div>
       <hr>
       <ul><a href="/movies/search">Buscar</a> <br></ul>
       <hr>
      <ul><a href="/genres">Géneros</a> <br></ul>
      <hr>
      <ul><a href="/actors">Actores</a> <br></ul>
      <hr>
      <ul><a href="/series">Series</a> <br></ul>
      <hr>
      <ul><a href="/movies/new">Nuevos estrenos</a> <br></ul>
      <hr>
      <ul><a href="/movies/recommended">Pelis recomendadas</a> <br></ul>
      <hr>
      <ul><a href="/movies/add"> Agregar peliculas</a></ul>
      <hr>
    </li>
  </nav>