<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <div class="todo">
      <div class="pelis">
        <li><% genres.forEach(genre => { %>
        <ul>
            <a href="/genres/<%= genre.id %>"><%= genre.name %></a>
            <hr>
          </ul>
          <% }); %>
        </li>
      </div>
    </div>
  </body>
</html>