<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
    <body>
      <%- include('./partials/header') %>
    <div class="todo">
      <div class="pelis">
        <form action="/movies/search" method="post">
          <input type="search" name="buscar" id="" placeholder="Buscar..."> <br>
          <select name="asc_desc" id="">
            <option value="ASC">Ascendiente!</option>
            <option value="DESC">Descendiente!</option>
          </select> <br>
          <select name="orden" id="">
            <option value="title">Titulo</option>
            <option value="rating">Rating</option>
            <option value="awards">Premios</option>
            <option value="genre">Género</option>
            <option value="length">Duración</option>
            <option value="release_date">Fecha de Estreno</option>
          </select> <br>
          <button type="submit">Buscar!</button>
      </form>
    </div>
  </div>
      </ul>
    </li>
  </body>
</html>